* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}

nav li {
    list-style: none;
    margin-left: 20px;

}

nav ul {
    display: flex;
    align-items: center;

}

.header{
    background: #FFF8F3;
    margin-top: 0;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.color-primary {
    color: orange;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #fff;
    height: 64px;
    border: 0px;
    font-size: 20px;
    padding: 18px 35px;
}

.banner-area {
    margin: 0px 100px;
    display: flex;
    align-items: center;
}

.author-name {
    font-size: 85px;
    font-style: normal;
    margin-bottom: 20px;

}

.banner-area p {
    color: #757575;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
}